<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<meta charset="utf-8">
	<title>WIFI营销精灵-<?php echo $title;?></title>
	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_3/css/style.css">
	<!-- media queries css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_3/css/media-queries.css">
	
	<script type="text/javascript" src="<?php echo APP_URL;?>/template/theme_3/js/jquery-1.7.2.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="title">WIFI营销精灵</div>
	</div>
	<div class="content">
		<div class="adver">
			<img src="<?php echo APP_URL;?>/template/theme_3/images/ad05.jpg">
		</div>
		<div class="shop-app clearfix">
		  <h3>登录完成</h3>
		  <div class="app-box clearfix"> 
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/01.png"> <span class="">去哪儿网</span> </div>
			</a>
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/02.png"> <span class="">58同城</span> </div>
			</a> 
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/03.png"> <span class="">途牛网</span> </div>
			</a> 
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/04.png"> <span class="">爱奇艺</span> </div>
			</a> 
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/05.png"> <span class="">聚划算</span> </div>
			</a>
			<a href="#">
				<div class="btnbox fl c-back1"> <img class="" src="<?php echo APP_URL;?>/template/theme_3/images/06.png"> <span class="">百度搜索</span> </div>
			</a> 
		  </div>
		</div>
	</div>
</body>
</html>