<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<meta charset="utf-8">
	<title>WIFI营销精灵-<?php echo $title;?></title>
	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_3/css/style.css">
	<!-- media queries css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_3/css/media-queries.css">
	
	<script type="text/javascript" src="<?php echo APP_URL;?>/template/theme_3/js/jquery-1.7.2.min.js"></script>
</head>

<body style="overflow: hidden;">
	<div class="header">
		<div class="title">WIFI营销精灵</div>
	</div>
	<section class="content clearfix">
		<div class="page-bg"><img src="<?php echo APP_URL;?>/template/theme_3/images/bg.jpg"></div>
	</section>
	<div>
		<div class="inter-com">
		<div class="al_lead clearfix">
		  <a href="<?php echo SITE_URL;?>/index.php?method=login">
			<div class="al_loginBtn2">
			<div class="al_icon2 fl"></div>
			<div class="al_t fl">点此免费上网</div>
			</div>
		  </a> 
		</div>
		<div class="al_lead clearfix">
  		  <a href="#">
			<div class="al_loginBtn3">
			<div class="al_icon3 fl"></div>
			<div class="al_t fl">其他上网方式</div>
			</div>
		   </a> 
		</div>
		</div>
	</div>
</body>
</html>