<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<meta charset="utf-8">
	<title>WIFI营销精灵-<?php echo $title;?></title>
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_4/css/bootstrap.min.css" charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_4/css/buttons.min.css" charset="UTF-8">
	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_4/css/style.css">
	<!-- media queries css -->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_4/css/media-queries.css">
	
	<link rel="stylesheet" type="text/css" href="<?php echo APP_URL;?>/template/theme_4/css/login-style.css">
	<script type="text/javascript" src="<?php echo APP_URL;?>/template/theme_4/js/jquery-1.7.2.min.js"></script>
</head>

<body style="overflow: hidden;">
	<div class="header">
		<div class="title">WIFI营销精灵</div>
	</div>
	<section class="content clearfix">
		<div class="page-bg"><img src="<?php echo APP_URL;?>/template/theme_4/images/bg.jpg"></div>
	</section>
	<div class="phone-login fixdir clearfix">
	<div id="loginbox">
        <a class="button button-rounded button-flat-action btn22-l mt20 input_box" href="<?php echo SITE_URL;?>/index.php?method=login" >免费上网</a>
	</div>
	</div>
</body>
</html>